.tree-node-prop .expander,
.tree-node-prop .spacer,
.tree-node-prop .prefix,
.tree-node-prop .prop-key,
.tree-node-prop .prop-value {
  display: inline-block;
  vertical-align: top;
}

.tree-node-prop .prefix {
  color: lightslategray;
}

.tree-node-prop .prop-key {
  font-weight: bold;
}

.tree-node-prop .prop-value.null {
  color: blue;
}

.tree-node-prop .prop-value.recursion {
  color: red;
}

.tree-node-prop .prop-value.function {
  background-color: beige;
  color: darkblue;
}

.tree-node-prop .prop-value.number {
  color: darkred;
}

.tree-node-prop .prop-value.string {
  color: orange;
}

.tree-node-prop .prop-value.boolean {
  color: purple;
}

.tree-node-prop .spacer {
  width: 10px;
  height: 10px;
}

.tree-node-prop .expander {
  width: 0px;
  height: 0px;
  border-top: 5px solid black;
  border-left: 5px solid white;
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  transform:translateY(5px) translateX(-2px);
}

.tree-node-prop .expander.collapsed {
  transform: rotate(270deg) translateY(-2px) translateX(-2px);
}
